html{
    margin: 0 auto;
    height: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
.menu-list{
    color: white; /* 글씨 색을 흰색으로 설정 */ 
    float: left; /* 왼쪽으로 나열되도록 설정 */ 
    line-height: 30px; /* 텍스트 한 줄의 높이를 30px로 설정 */ 
    vertical-align: middle; /* 세로 정렬을 가운데로 설정 */ 
    text-align: center; /* 텍스트를 가운데로 정렬 */ 
    position: relative; /* 해당 li 태그 내부의 top/left 포지션 초기화 */
}

.login-sub li{
    color: #2d2d2d; /* 글씨 색을 RGB(2D2D2D)로 설정 */ 
    background-color: white; /* 배경색을 흰색으로 설정 */ 
    margin-top: -1px; /* 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설덩 */
}

.login-sub{
    width: 100%;
    position: absolute; /* html의 flow에 영향을 미치지 않게 absolute 설정 */
    height: 0px; /* 초기 높이는 0px로 설정 */ 
    overflow: hidden; /* 실 내용이 높이보다 커지면 해당 내용 감춤 */ 
    transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(기본) */ 
    -webkit-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 크롬/사파라ㅣ) */ 
    -moz-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 파폭) */ 
    -o-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 오페라) */
}

.login-sub li:hover{
    color: #ffffff;
    background-color: #f43f4b; /* 서브 메뉴리스트 hover시 색상변경 */
}
.menu-list:hover .login-sub{
    height: 128px;
}
a{
    text-decoration: none;
}
header{
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 105px;
    padding: 0;
}

.header-nav{
    height: 100%;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-3, .col-lg-9{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.box1, .box2{
    width: 100%;
    height: 100%;
    
}

.box1{
    padding: 30px 0;
}
.header-menu{
    margin-top: 35px;
    float: right;
    text-align: center;
}

.header-menu-img{
    width: 16px;
    height: 16px;
}

.header-menu-text{
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.header-menu-list{
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
}

.logo{
    width: 191px;
    height: 44px;
}

.set-bg{
    position: relative;
    z-index: 1;
    padding: 330px 0;
    background: url("../img/main-img-test.png") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container{
    width: 100%;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.search-form{
    height: 95px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
}
.section-title{
    margin-bottom: 40px;
    text-align: center;
}
.section-title h2{
    font-size: 40px;
    font-weight: 700;
    color: #f43f4b;
    margin-bottom: 10px;
}
.section-title p{
    font-size: 15px;
    font-family: "Cairo", sans-serif;
    color: #f43f4b;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}
.search-form form input {
    width: 40%;
    float: left;
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 30px;
    height: 54px;
    border: none;
}
.search-form form button{
    position: relative;
    float: left;
    width: 14.5%;
	height: 54px;
    font-size: 15px;
    color: #ffffff;
    background-color: #f43f4b;
    border: none;
}
.search-form form .select-option select{
	position: relative;
    float: left;
    width: 22.5%;
	height: 54px;
    font-size: 15px;
    color: #A8A8A8;
    border: none;
}

.select-page{
    text-align: center;
    
}

.select-page input{
    margin: 20px;
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 200px;
    height: 50px;
    transition-property:background-color, border; /* 해당요소들을 :hover시 변경할 요소들 */
    transition-duration:1.0s;
}

.select-page input:hover{
    background-color:#f43f4b;
    border: none;
}

/* 폰트 */



/* section4시작 */

.section4{
    width: 100%;
    padding-top: 190px;
    padding-bottom: 170px;
}

.section4-title span{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 22px;
    color: #ff3d1c;
    display: inline-block;
    font-family: "Sacramento",cursive;
}

.section4-title h2{
    font-size: 50px;
    display: block;
    color: #1c1930;
    font-weight: 600;
}

.section4-content{
    text-align: center;
}

.slide {
    height: 300px;
    overflow: hidden;
}

.slide ul {
    width: calc(100% * 4);
    display: flex;
    animation: slide 20s infinite;
}

/* slide를 20초동안 진행하며 무한반복 함 */
.slide li {
    width: calc(100% / 4);
    height: 300px;
}

/* 슬라이드width를 calc 함수를 통해 400%로 만들고 프레임당 진행률마다 변함*/
@keyframes slide {
    0% {
        margin-left: 0;
    }

    /* 0 ~ 10  : 정지 */
    10% {
        margin-left: 0;
    }

    /* 10 ~ 25 : 변이 */
    25% {
        margin-left: -100%;
    }

    /* 25 ~ 35 : 정지 */
    35% {
        margin-left: -100%;
    }

    /* 35 ~ 50 : 변이 */
    50% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    85% {
        margin-left: -300%;
    }

    100% {
        margin-left: 0;
    }
}

