.login-main{
    margin:  0 auto;
    padding: 83px 0;
    text-align: center;
}

.login-main{
    width: 18%;
}


.logo img{
    margin: 20px;
    width: 191px;
    height: 44px;
}
.login-main form input{
    width: 99%;
    font-size: 17px;
    line-height: 46px;
    color: #A8A8A8;
    height: 44px;
    border: 1px solid #ebebeb;
    padding: 0;
}

.login-main form :nth-child(3){
    width: 100%;
    text-align: center;
    background-color: #f43f4b;
    color: #ffffff;
    height: 46px;
}
.login-main form :nth-child(1){
    border-bottom: none;
}


.text{
    display: inline-block;
    float: right;
    margin: 10px;
    font-size: 12px;
    text-align: right;
}

.last{
    float: left;
}
