<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.scit.ekuru.vo.UserVO" alias="user" />
		<typeAlias type="com.scit.ekuru.vo.ChatVO" alias="chat" />
		<typeAlias type="com.scit.ekuru.vo.RequestVO" alias="request" />
		<typeAlias type="com.scit.ekuru.vo.RequestCommentVO" alias="comment" />
		<typeAlias type="com.scit.ekuru.vo.ChargePointVO" alias="chargepoint" />
		<typeAlias type="com.scit.ekuru.vo.ChannelVO" alias="channel" />
		<typeAlias type="com.scit.ekuru.vo.ProductVO" alias="product" />
		<typeAlias type="com.scit.ekuru.vo.PointProductVO" alias="pointprod" />
		<typeAlias type="com.scit.ekuru.vo.ProductCommentVO" alias="prodComment" />
		<typeAlias type="com.scit.ekuru.vo.PointVO" alias="point" />
		<typeAlias type="com.scit.ekuru.vo.dealHistoryVO" alias="dealHistory" />
		<typeAlias type="com.scit.ekuru.vo.specVO" alias="spec" />
		<typeAlias type="com.scit.ekuru.vo.categoryVO" alias="category" />
		<typeAlias type="com.scit.ekuru.vo.CartVO" alias="cart" />
		<typeAlias type="com.scit.ekuru.vo.PointUsedVO" alias="usedPoint" />
		<typeAlias type="com.scit.ekuru.vo.SuperPlanVO" alias="ad" />
		<typeAlias type="com.scit.ekuru.vo.FollowingVO" alias="following" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/requestMapper.xml" />
		<mapper resource="mapper/channelMapper.xml" />
	</mappers>
</configuration>
