*{
    font-family: 'NotSansCJKjp-Black', sans-serif;
}

body{
    background-color: #ffdfb9 !important;
}

.fullSize{
    position: relative;
    overflow: hidden;
}


.mainSize{
    max-width: 1080px;
    min-width: 436px;
    margin-left: auto;
    margin-right: auto;

}

.title-style{
    margin-top: 20px;
    margin-bottom: 50px;
}

.top-content{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(140, 141, 140);
    margin-bottom: 50px;
    margin-top: 50px;
}

.bottom-content{
    width: 100%;
    margin-bottom: 50px;
}

.product-slide{
    position: relative;
    width: 50%;
    height: 400px;
    margin-left: 20px;
}

.product-intro{
    width: 50%;
    height: 400px;
    margin-left: 10px;
}

.product-title{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;

}

.content-name{
    width: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 30px;

}

.content-value{
    margin-top: 10px;
    float: right;
}

.img{
    width: 50px;
    margin-left: 70px;
}

.comment-detail{
    margin-left: 50px;
    font-size: 20px;
}

.button{
    padding: 10px;
    width: 20%;
    text-align: center;
    margin: 20px;
}

.button-list{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.textbox{
    width: 60%;
    margin-top: 50px;
}

.buttons{
    text-align: center;
    margin-bottom: 30px;
}

