body{
    background-color: #ffdfb9 !important;
}

#container{    
    position: relative;
    overflow: hidden;
}

.base{

    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.content1, .content2{
    margin-top: 100px;
}
.main-text{
    width: 100%;
    text-align: center;
}
.content1{
    width: 20%;
}
.content2{
    width: 80%;
}
.profile{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    
}

.profile-img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
ul{
    list-style: none;
}
.li-sty{
    margin: 0 auto;
    width: 33%;
    float: left;
    text-align: center;
}
.text li span{
    font-size: 30px;
}
.profile-text{
    font-weight: normal;
    margin-bottom: 30px;
}
span{
    font-size: 20px;
    font-weight: bold;
}
.test{
    margin-top: 50px;
}

.test2{
    margin-top: 70px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(165, 64, 64);
}

.product{
    position: relative;
    width: 25%;
    padding-bottom: 25%;
}

.product-img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.product-list{
    width: 100%;
    display: contents;
}
.button-list{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    padding: 10px;
    width: 20%;
    text-align: center;
    margin: 20px;
}

.minus-icon{
    z-index: 50;
    float: right;
    position: absolute;
    width: 30px;
    height: 30px;
}
/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
     /*스타일입력*/
     /* 제목 사이즈, 프사 사이즈, 텍스트 사이즈,  */
     .test{
        margin-top: 25px;
    }
    .text li span{
        font-size: 25px;
    }
    span{
       font-size: 18px;
    }

}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
     /*스타일입력*/
    .test{
        margin-top: 0px;
    }
    .text li span{
        font-size: 20px;
    }
    span{
       font-size: 16px;
    }

}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    /*스타일입력*/
    .test{
        margin-top: 0px;
    }
    .text li span{
        font-size: 15px;
    }
    span{
       font-size: 14px;
    }

}