body{
    background-color: #ffdfb9 !important;
}

.category-button{
    text-align: center !important;
}

.request-list{
    text-align: center !important;
}

/* 검색창 */
#custom-search-input {
    margin:0 !important;
    padding: 0 !important;
    margin-top:10% !important;
}

#custom-search-input .search-query {
    padding-right: 3% ;
    padding-right: 4% \9;
    padding-left: 3%;
    padding-left: 4% \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3 !important;   
}


/*목록 출력에 필요한 스타일*/
.portfolio .portfolio-item {
    cursor: pointer !important;
    position: relative !important;
    display: block !important;
    max-width: 100% !important;
    border-radius:0.5rem !important;
    overflow: hidden !important;
}
.portfolio .portfolio-item .portfolio-item-caption {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    transition: all 0.2s ease-in-out !important;
    opacity: 0 !important;
    background-color: brown !important;
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1 !important;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem !important;
}

.portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem !important;
    line-height: 2rem !important;
}


/*목록 리스트 스타일 2 - 애니메이션*/
@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
@media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}
.portfolio-modal .close {
    position: absolute !important;
    z-index: 1 !important;
    right: 1.5rem !important;
    top: 1rem !important;
    font-size: 3rem !important;
    line-height: 3rem !important;
    color: #1abc9c !important;
    opacity: 1 !important;
}

/* 페이징 css */
.sizeTrans{
    width: 110% !important;

}

.title h3{
    font-weight: bold !important;
    font-size: 20px !important;
}

.search-list{
    text-align: center !important;
    margin-top: 25px !important;

    width: 100% !important;
    height: 200px !important;
}

.search-result{
    width: 80% !important;
    height: 100% !important;
    margin-bottom: 20px !important;
    margin-left: auto !important;
    margin-right: auto;
    
}

.search-card{
    margin: 0px !important;
    padding: 0px !important;
    height: 100% !important;
}

.search-img{
    width: 100% !important;
    height: 100% !important;
}

.cdby{
    height: 100% !important;
    text-align: left !important;
}

.search-form{
    width: 100% !important;
    height: 100% !important;
    border: 2px solid #A4193D !important;
    margin-bottom: 15px !important;
}

.card-text{
    line-height: 1.5 !important;
}

.submit-btn{
    margin-top: 0 !important;
}
/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .category-button{
        width: auto;
    }

}



/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { 
    .category-button{
        width: 70%;
    }

    .inner{
        width: 70%;
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) { 
    .category-button{
        width: 50%;
    }

    .inner{
        width: 50%;
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) { 
    .category-button{
        width: 20%;
    }

    .inner{
        width: 30%;
    }
   
}
